
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*-----------------------------------------------------------------------------------------------CSS Reset */

#links {
    
    display: flex;
    gap:1rem;
    flex-direction: row;
    justify-content: space-between;


 }
a{
    font-size:2rem;
    

}

nav {
    display:flex;
    justify-content: space-between;
    background: linear-gradient(#0f172a,rgba(101, 164, 245));
    color: rgba(107, 168, 249);
    padding: 2rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.long{
    font-size: 1.2rem;
    width:100%;
    display:flex;
    justify-content: center;
    background-color: #77bbff  ;
    border-radius:0px;
    align-items: center; 
    
}
.sep{
    color:  rgba(44, 107, 218);
}


main {
    max-width: 100%;
    
}
body{
    background-color: rgb(44, 108, 218);
}




section {
    margin-bottom: 2.5rem;
    background-color: rgba(44, 107, 218);
    padding: 1.5rem;
    border-radius: 6px;
}



h1 {
    font-size: 1.9rem;
}


h2 {
    font-size: 1.3rem;
    color: #ffffff;
}

table th:nth-child(1),
table td:nth-child(1),
table th:nth-child(2),
table td:nth-child(2) {
  text-align: center;
  vertical-align: middle;
}

p,li,td,h3,h2,h1,th,label{
    margin-bottom: 1rem;
    color: rgb(150, 187, 255);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
label{
    margin-bottom:20px;
}
th{
    color: rgb(0, 107, 247);
}

ul {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

a {
    color: #0b5ed7;
    text-decoration: none;
}


.herodiv{
     position: absolute;
  top: 36%;
  left: 35.5%;

  color:rgba(3, 24, 81);
  font-size: 2rem;
  font-weight: bold;
  

    
    
    
}

img {
    max-width: 100%;
    display: block;
    margin-top: 1rem;
    border-radius: 4px;
}

.hero {
    position:relative;
  height: 100vh;
  background-image: url("bluesetup.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

table {
    width: 100%;
    
    margin-top: 1rem;
}

th, td {
    border: 3px solid #ccc;
    border-radius:4px;
    padding: 0.75rem;
    text-align: left;
}
h3{
    color:#ffffff;
}

th {
    background-color: #e5e7eb;
}


.answer{
    display:none;
    font-size: 1.5rem;
    margin-top:20px;
   
}

.dropbox {
  width: 100%;
  height: 200px;
  background-color: #4400ff;
  border-radius: 8px;
  
  border:3px solid #230085;
  
  
}
.inside{
    margin-top:20px;
}
.monitors img {
  width: 100%;
  height: 50%;
  
}

.item{
    display: flex;
    justify-content: center;
    width: 10%;
border:3px solid black;
}

.hzbtn {
  padding: 1rem 2rem;       
  font-size: 1.4rem;        
  font-weight: bold;
  border: 3px solid #111;
  background: white;
  border-radius: 12px;
  cursor: pointer;
  
  transition: 0.2s ease;
}
#aftertable{
    margin-top: 3rem;
    font-size: 1.3rem;
    
}


.monitors {
  display: flex;
  flex-direction: column;
  align-items: center;     
  text-align: center;      
  padding: 1rem;
  

}
#quiz
{

    display:flex;
    justify-content: space-evenly;

}
#pccost{
    display:flex;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1f2933;
    color: #ffffff;
}

  @media (max-width: 1400px) {
  .hzbtn {
  
  padding: 0.1rem 0.2rem; 
  font-size: 0.6rem;         
  font-weight: 400;
  border: 1px solid #111;
  border-radius: 2px;
  line-height: 0.1rem;           
          
}
  
  
  



h1{
     position: absolute;
  top: 36%;
  left: 34%;

  color:rgb(255, 255, 255);
  font-size: 1rem;
  
  

    
    
    
}


}




